{% extends 'base_list.html'%}
{% load static %}
{% block title %}天天生鲜-搜索结果{% endblock title%}
{% block detail%}
<div class="breadcrumb">
    <a href="#">{{ query }}</a>
    <span>></span>
    <a href="#">搜索结果</a>
</div>
{% comment %} 搜索字段：{{ query }}</br> {% endcomment %}
{% comment %} page对象:{{ page }}</br> {% endcomment %}
{% comment %} paginator对象:{{ paginator }}</br> {% endcomment %}
<div class="main_wrap clearfix">
    <ul class="goods_type_list clearfix">
        {% for result in page %}
        <li>
            <a href="{% url 'goods:detail' result.object.id %}"><img src="{{ result.object.image.url }}"></a>
            <h4><a href="{% url 'goods:detail' result.object.id %}">{{ result.object.name }}</a></h4>
            <div class="operate">
                <span class="prize">￥{{ result.object.price }}</span>
                <span class="unit">{{ result.object.price }}/{{ result.object.uom }}</span>
                {% csrf_token %}
                <a href="#" goods_id="{{ result.object.id }}" class="add_goods" title="加入购物车"></a>
            </div>
        </li>
        {% empty %}
        未搜索到结果
        {% endfor %}
    </ul>

    <div class="pagenation">
        {% if page.has_previous %}
        <a href="{% url 'goods:search' %}?q={{ query }}&amp;page={{ page.previous_page_number }}"><上一页</a>
        {% endif %}
        {% for num in paginator.page_range %}
        <a href="{% url 'goods:search' %}?q={{ query }}&amp;page={{ num }}" {% if num == page.number %}class="active"{% endif %}>{{ num }}</a>
        {% endfor %}
        {% if page.has_next %}
        <a href="{% url 'goods:search' %}?q={{ query }}&amp;page={{ page.next_page_number }}">下一页></a>
        {% endif %}
    </div>
</div>
{% endblock detail %}
{% block endfiles %}

<div class="add_jump"></div>
<script type='text/javascript' src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript">

//获取add_cart div元素左上角的坐标
var $add_x = $('.add_goods').offset().top;
var $add_y = $('.add_goods').offset().left;
//获取show_count div元素左上角的坐标
var $to_x = $('#show_count').offset().top;
var $to_y = $('#show_count').offset().left;

$('.add_goods').click(function(){
    goods_id = $(this).attr('goods_id')
    count = 1
    csrf = $('input[name="csrfmiddlewaretoken"]').val()
    parameter = {
        'goods_id': goods_id,
        'count': count,
        'csrfmiddlewaretoken': csrf
    }
    //发送ajax请求
    $.post('/cart/add/', parameter, function(data){
        if (data.status == 'S'){
            //添加成功
            //购物车加入成功的动态效果
            $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
            $(".add_jump").stop().animate(
                {'left': $to_y+7,
                    'top': $to_x+7},
                "fast",
                function() {
                    $(".add_jump").fadeOut('fast',function(){
                        //刷新右上角购物车数量
                        $('#show_count').html(data.cart_count);
                        });
                });
        }
        else{
            //添加失败
            alert(data.errmsg)
        }
    })
})
</script>
{% endblock endfiles %}
