{% extends 'base_user_center.html' %}
{% load static %}
{% block right %}
<div class="right_content clearfix">
    <h3 class="common_title2">全部订单</h3>
    {% for order in page %}
    <ul class="order_list_th w978 clearfix">
        <li class="col01">{{ order.create_time }}</li>
        <li class="col02">{{ order.order_num }}</li>
        <li class="col02 stress">{{ order.status_name }}</li>
    </ul>

    <table class="order_list_table w980">
        <tbody>
            <tr>
                <td width="55%">
                    {% for order_goods in order.order_goods_list %}
                    <ul class="order_goods_list clearfix">
                        <li class="col01"><a href="{% url 'goods:detail' order_goods.goods.id %}"><img src="{{ order_goods.goods.image.url }}"></a></li>
                        <li class="col02"><a href="{% url 'goods:detail' order_goods.goods.id %}">{{ order_goods.goods.name }}<em>{{ order_goods.goods.price }}元/{{ order_goods.goods.uom }}</em></a></li>
                        <li class="col03">{{ order_goods.count }}</li>
                        <li class="col04">{{ order_goods.amount }}</li>
                    </ul>
                    {% endfor %}
                </td>
                <td width="15%">{{ order.total_amount|add:order.transit_amount }}元(含运费)</td>
                <td width="15%" class="status">{{ order.status_name }}</br>支付方式：{{ order.method_name }}</td>
                {% csrf_token %}
                <td width="15%"><a href="#" order_id='{{ order.id }}' order_status='{{ order.order_status }}' status_name='{{ order.status_name }}'pay_method='{{ order.pay_method }}' class="oper_btn">去付款</a></td>
            </tr>
        </tbody>
    </table>
    {% empty %}
    暂无订单
    {% endfor %}

    <div class="pagenation">
        {% if page.has_previous %}
        <a href="{% url 'user:order' page.previous_page_number %}"><上一页</a>
        {% endif %}
        {% for num in pages %}
        <a href="{% url 'user:order' num %}" {% if num == page.number %}class="active"{% endif %}>{{ num }}</a>
        {% endfor %}
        {% if page.has_next %}
        <a href="{% url 'user:order' page.next_page_number %}">下一页></a>
        {% endif %}
    </div>
</div>
{% endblock right %}
{% block endfiles %}
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js'%}"></script>
<script type="text/javascript">
    //根据订单状态显示下一步操作
    $('.oper_btn').each(function(){
        status = $(this).attr('order_status')
        if (status == '1'){
            oper_show = '去支付'
        }
        else if (status =='4'){
            oper_show = '去评价'
        }
        else{
            oper_show = $(this).attr('status_name')
        }
        $(this).text(oper_show)
    })
    //去支付按钮
    $('.oper_btn').click(function(){
        order_id = $(this).attr('order_id')
        if ($(this).attr('order_status') =='1'){
            pay_method = $(this).attr('pay_method')
            $(this).text('支付中')
            $(this).attr('order_status','0')
            send_pay_ajax(order_id, pay_method)
        }
        else if($(this).attr('order_status') == '4'){
            //跳转到评价页面
            location.href = '/order/comment/'+order_id
        }
    })
    //支付发送ajax请求
    function send_pay_ajax(order_id, pay_method){
        csrf = $('input[name="csrfmiddlewaretoken"]').val()
        parameter = {
            'order_id': order_id,
            'csrfmiddlewaretoken': csrf,
        }
        if (pay_method == '3'){
            //支付宝支付
            $.post('/order/alipay/', parameter, function(data){
                //回调函数
                if (data.status == 'S'){
                    //引导用户到支付界面
                    window.open(data.pay_url)
                    //发送ajax请求查询订单支付情况
                    $.post('/order/check/', parameter, function(data){
                        if (data.status == 'S'){
                            alert('支付成功')
                            location.reload()
                        }
                        else{
                            alert(data.errmsg)
                        }
                    })
                }
                else{
                    alert(data.errmsg)
                }
            })
        }
        else{
            //其他支付方式
            alert('其他支付方式暂不支持!')
        }
    }
</script>
{% endblock endfiles %}
